# Core functionality - changes here should be rare!
/src/app.py                   @karimkarimson
/src/backend/database.py      @karimkarimson
/src/backend/routers/auth.py  @karimkarimson

# The frontend will need refactored soon to be more object oriented.
/src/static/   @karimkarimson
